body{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 900px;
}

.container{
    width: 970px;
    background-image: linear-gradient(aquamarine, white, aqua);
}

h1{
    padding: 10px 0px 20px 0px;
}